@import url('https://fonts.googleapis.com/css?family=Work+Sans');
.sendicon{
  width: 24px;
  height: 24 px;
  filter:invert(100%); padding-top:2px;
}

.butcheck{
  padding-top: 20px;
}
.logo-card{max-width:50px; margin-bottom:15px; margin-top: -19px;}

label{display:flex; font-size:10px; color:white; opacity:.4;}

input{
font-size: 16px;
line-height: 18px;
color: #fff;
font-family: 'Work Sans', sans-serif;
background :transparent;
border:none;
border-bottom:1px solid transparent;
/* color:#dbdce0;  */
transition: border-bottom .4s;
}
input:focus{border-bottom:1px solid #1abc9c; outline:none;}

.cardnumber{display:block; font-size:20px; margin-bottom:8px; }

.name{display:block; font-size:15px; max-width: 200px; float:left; margin-bottom:15px;}

.toleft{float:left;}
.ccv{width:50px; margin-top:-5px; font-size:15px;}

.receipt{background: #dbdce0; border-radius:4px; padding:5%; padding-top:200px; max-width:600px; display:block; margin:auto; margin-top:-180px; z-index:-999; position:relative;}

body {
  /* background: -webkit-linear-gradient(to right, #eecda3, #ef629f); */
  /* background: linear-gradient(to right, #eecda3, #ef629f); */
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(110deg, #BBDEFB 60%, #42A5F5 60%)
}

.shop {
  font-size: 10px
}

.space {
  letter-spacing: 0.8px
}

.second a:hover {
  color: rgb(92, 92, 92)
}

.active-2 {
  color: rgb(92, 92, 92)
}

.breadcrumb>li+li:before {
  content: ""
}

.breadcrumb {
  padding: 0px;
  font-size: 10px;
  color: #aaa
}

.first {
  background-color: white
}

a {
  text-decoration: none ;
  color: #aaa
}

.btn-lg,
.form-control-sm:focus,
.form-control-sm:active,
a:focus,
a:active {
  outline: none ;
  box-shadow: none
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background: transparent;
}
.form-control-sm:focus {
  border: 1.5px solid #4bb8a9
}

.btn-group-lg>.btn,
.btn-lg {
  padding: .5rem 0.1rem;
  font-size: 1rem;
  border-radius: 0;
  color: white ;
  background-color: #4bb8a9;
  height: 2.8rem ;
  border-radius: 0.2rem
}

.btn-group-lg>.btn:hover,
.btn-lg:hover {
  background-color: #26A69A
}

.btn-outline-primary {
  background-color: #fff ;
  color: #4bb8a9 ;
  border-radius: 0.2rem ;
  border: 1px solid #4bb8a9
}

.btn-outline-primary:hover {
  background-color: #4bb8a9 ;
  color: #fff ;
  border: 1px solid #4bb8a9
}

.card-2 {
  margin-top: 40px
}

.card-header {
  background-color: #fff;
  border-bottom: 0px solid #aaaa
}

p {
  font-size: 13px
}

.small {
  font-size: 9px
}

.form-control-sm {
  height: calc(2.2em + .5rem + 2px);
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0
}

.cursor-pointer {
  cursor: pointer
}

.boxed {
  padding: 0px 8px 0 8px;
  background-color: #4bb8a9;
  color: white
}

.boxed-1 {
  padding: 0px 8px 0 8px;
  color: black ;
  border: 1px solid #aaaa
}

.bell {
  opacity: 0.5;
  cursor: pointer
}

@media (max-width: 767px) {
  .breadcrumb-item+.breadcrumb-item {
      padding-left: 0
  }
}
/*  */
.cc{
width: 350px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;

}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;

    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card-number {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
    right : 100%;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}


.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
/*  */
/* Tabs*/
section {

    padding: 0px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: white;
    color: black;
}
/* #tabs h6.section-title{
    color: #eee;
} */

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid ;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    /* border: 1px solid transparent; */
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;;
    font-size: 20px;
}
.stripe-errors{
  color:black;
}
/*  loading */
#load{
  background-color: transparent;
  border: transparent;
  display: none;
}
.blob-1,.blob-2{
	width:40px;
	height:40px;
	position:absolute;
	background:yellow;
	border-radius:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:black;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}
