#content {
  margin-top: 120px;
}
.promo {
  width: 60px;
  height: 30px;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}

.categ {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.categ input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
}
.categ:hover input ~ .checkmark {
background-color: #ccc;
}
.categ input:checked ~ .checkmark {
background-color: #2196F3;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}
.categ input:checked ~ .checkmark:after {
display: block;
}
.categ .checkmark:after {
left: 6px;
top: 2px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
