h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  border: 0;
}

h1{
  font-size: 130%;
}

h2{
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}


p{
  font-size: 12px;
  line-height: 1.5;
}


.product{
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  clear: both;
  padding: 0px 10% 70px 10%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.container-product{
  padding-top: 50px;
}
.col-1-2{
  width: 50%;
  height: 100%;
  float: left;
}

.product-image .indicator{
  text-align:center;
}

.product-info{
  padding: 0px 8%;
}

.product-info h1{
  margin-bottom: 5px;
}

.product-info h2{
  margin-bottom: 50px;
}

.product-info .select-dropdown{
  display: inline-block;
  margin-right: 10px;
  position: relative;
  width: auto;
  float: left;
}

.product-info select{
  cursor: pointer;
  margin-bottom: 20px;
  padding: 12px 92px 12px 15px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #aaa;
  font-size: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:active, select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
    content: " ";
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
  }

.product-info a.add-btn{
  background-color: #444;
  border-radius: 2px;
  color: #eee;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

a.add-btn:hover{
  background-color: #555;
}

.product-info p{
  margin-bottom: 30px;
}

.product-info p a{
  border-bottom: 1px dotted #444;
  color: #444;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.product-info p a:hover{
  opacity: .7;
}

.product-info ul{
  font-size: 12px;
  padding: 0;
  margin-bottom: 50px;
}

.product-info li{
  list-style-type: none;
  margin-bottom: 5px;
}

.product-info li::before{
  content:"\2022";
  margin-right: 20px;
}


.product-info a.share-link{
  color: #aaa;
  font-size: 11px;
  margin-right: 30px;
  text-decoration: none;
}

.product-info a.share-link:hover{
  border-bottom: 2px solid #aaa;
}

footer{
	background-color: #212121;
	clear: both;
	width: 100%;
	padding: 20px 10% 10px 10%;
	text-align: center;
	vertical-align: middle;
}

footer img {
	display: inline-block;
	height: 20px;
	width: auto;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

footer h3 {
  color: #bbb;
  font-size: 12px;
  font-weight: 700;
	display: inline-block;
	height: 20px;
  letter-spacing: .8px;
	margin-bottom: 0px;
  text-transform: uppercase;
	vertical-align: middle;
}
h2 {
  color: black;
  font-weight: bold;
  font-weight: 900;
}

.ymal:before {
    display: table;
    content: " ";
    clear:both
}

.instock {
  color: green;
}

.outofstock {
  color: red;
}

.availability {
  padding-top: 10px;
}
